body {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(232, 142, 109, 0.525);
}

.header {
    padding: 2px;
    text-align: center;
    background: rgba(218, 58, 0, 0.525);
    font-size: 15px;
    color: black;
    width: 100%;
}

form {
    margin-top: 50px;
    margin-bottom: 40px;
}

input {
    font-family: inherit;
    font-size: 100%;
}

.checkBox {
    cursor: pointer;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid white;
}

thead th:nth-child(1) {
    width: 5%
}

thead th:nth-child(2) {
    width: 19.75%
}

thead th:nth-child(3) {
    width: 19.75%
}

thead th:nth-child(4) {
    width: 19.75%
}

thead th:nth-child(5) {
    width: 19.75%
}

thead th:nth-child(6) {
    width: 10%
} 

thead th:nth-child(7) {
    width: 6%
} 

.button {
    background-color: rgb(234, 77, 77);
    font-family: inherit;
    font-size: 100%;
    cursor: pointer;
}

.runner-data {
    border-collapse: collapse;
    border: 3px solid rgba(232, 142, 109, 0.525);
    text-align: center;
    background-color: white;
}

th {
    padding: 5px;
    background-color: black;
    border: 3px solid rgba(232, 142, 109, 0.525);
    color: white;
}

tr, td {
    padding: 20px
}


